<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wu.manager.mapper.GameExtMapper">
    <resultMap id="BaseResultMap" type="com.wu.manager.pojo.GameDownload">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="game_id" jdbcType="INTEGER" property="gameId" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="mix" jdbcType="INTEGER" property="mix" />
    </resultMap>
    <select id="selectIdsByNameSearch" resultType="java.lang.Integer">
        SELECT id from bbs_game WHERE name LIKE "%"#{nameSearch,jdbcType=VARCHAR}"%";
    </select>

</mapper>