<html xmlns:th="http://www.thymeleaf.org">
<div class="fly-panel-title fly-filter" th:fragment="bbsFilter" th:with="url = ${#request.getRequestURL()},urlArr= ${#strings.arraySplit(#request.getRequestURL(),'/')}">
  <a th:if="${#lists.size(urlArr) > 4}" th:classappend="${!#lists.contains(urlArr,'unsolved') && !#lists.contains(urlArr,'solved') && !#lists.contains(urlArr,'boutique')? 'layui-this': ''}" th:href="${#strings.substring(#strings.substringBefore(url,urlArr[4]),0,#strings.substringBefore(url,urlArr[4]).length()-1)}">综合</a>
  <a th:if="${#lists.size(urlArr) <= 4}" th:href="@{${#strings.endsWith(url,'/') ? ''+#strings.substring(url,0,url.length()-1)+'' :''}}" class="layui-this">综合</a>
  <span class="fly-mid"></span>
  <a th:if="${#lists.size(urlArr) > 4}" th:classappend="${#lists.contains(urlArr,'unsolved') ? 'layui-this': ''}" th:href="${#strings.substringBefore(url,urlArr[4])+'unsolved'}">未结</a>
  <a th:if="${#lists.size(urlArr) <= 4}" th:classappend="${#lists.contains(urlArr,'unsolved') ? 'layui-this': ''}" th:href="${url+'/unsolved'}">未结</a>
  <span class="fly-mid"></span>
  <a th:if="${#lists.size(urlArr) > 4}" th:classappend="${#lists.contains(urlArr,'solved') ? 'layui-this': ''}" th:href="${#strings.substringBefore(url,urlArr[4])+'solved'}">已结</a>
  <a th:if="${#lists.size(urlArr) <= 4}" th:classappend="${#lists.contains(urlArr,'solved') ? 'layui-this': ''}" th:href="${url+'/solved'}">已结</a>
  <span class="fly-mid"></span>
  <a th:if="${#lists.size(urlArr) > 4}" th:classappend="${#lists.contains(urlArr,'boutique') ? 'layui-this': ''}" th:href="@{${#strings.substringBefore(url,urlArr[4])}+'boutique'}">精华</a>
  <a th:if="${#lists.size(urlArr) <= 4}" th:classappend="${#lists.contains(urlArr,'boutique') ? 'layui-this': ''}" th:href="@{${url}+'/boutique'}">精华</a>
  <span class="fly-filter-right layui-hide-xs">
    <a href="#" class="layui-this">按最新</a>
    <span class="fly-mid"></span>
    <a href="#">按热议</a>
  </span>
</div>